bin
obj
Obj
TestResults
test-results
*.csproj.user
*.suo
*.cache
*.sln
*.csproj
*~
*.swp
*.userprefs
*.pidb

# compile settings. is dit nodig?
Properties

#User Specific
*.userprefs
*.usertasks

#Mono Project Files
*.pidb
*.resources
test-results/

# mac system files
.DS_Store
*.DS_Store
*/.DS_Store

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
